datasets==2.14.6
dspy-ai
evaluate==0.4.1
gradio==6.13.0
matplotlib==3.10.8
nltk==3.9.4
numpy==1.26.4
pandas==3.0.2
pyarrow==14.0.2
protobuf==5.29.5
python-dotenv==1.0.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentencepiece==0.2.1
torch==2.3.1
tqdm==4.67.3
transformers==4.56.2
accelerate==1.13.0
